/* styling.css */
/* Correctly declare custom fonts with @font-face */

@font-face {
  font-family: "placard";
  src: url("file:///C:/Users/JZhang/AppData/Local/Microsoft/Windows/Fonts/PlacardNextRegular.TTF") format("truetype");
}

@font-face {
  font-family: "placard_bold";
  src: url("file:///C:/Users/JZhang/AppData/Local/Microsoft/Windows/Fonts/PlacardNextBold.TTF") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "gillsans";
  src: url("file:///C:/Windows/Fonts/GIL_____.TTF") format("truetype");
}

@font-face {
  font-family: "gillsans_bold";
  src: url("file:///C:/Windows/Fonts/GILB____.TTF") format("truetype");
  font-weight: bold;
}
